<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FINCA</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/ext/jquery.js"></script>
<script src="../js/ext/bootstrap.min.js"></script>
<script src="../js/ext/angular.min.js" type="text/javascript"></script>
<script src="../js/app.js" type="text/javascript"></script>
<script src="../js/controller/FincaController.js" type="text/javascript"></script>
<script src="../js/service/FincaService.js" type="text/javascript"></script>
<link href="../css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container" data-ng-app="app"
		data-ng-controller="fincaController">
		<br>
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar-menu">
							<span class="sr-only">Menu</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand">Inicio</a>
					</div>
					<div class="collapse navbar-collapse " id="navbar-menu">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"> Maestros <span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/finca.html">Fincas</a></li>
									<li><a href="../pages/bloque.html">Bloques</a></li>
									<li><a href="../pages/cama.html">Camas</a></li>
									<li><a href="../pages/color.html">Colores</a></li>
									<li><a href="../pages/tipo.html">Tipos de Flor</a></li>
									<li><a href="../pages/producto.html">Productos</a></li>
									<li><a href="../pages/breeder.html">Breeders</a></li>
									<li><a href="../pages/planta.html">Variedad</a></li>
									<li><a href="../pages/codigorf.html">Código RedFlor</a></li>
									<li><a href="../pages/empleado.html">Empleado</a></li>
									<li><a href="../pages/origen.html">Origen</a></li>
									<li><a href="../pages/tipoplanta.html">Tipo Planta</a></li>
									<li><a href="../pages/productoplanta.html">Producto Planta</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"> Movimientos <span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/siembra.html">Siembra</a></li>
									<li><a href="../pages/ingreso.html">Ingreso</a></li>
									<li><a href="../pages/pedido.html">Pedido</a></li>									
									<li><a href="../index.html">Salida</a></li>
								</ul></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="../pages/registro.html"><span
									class="glyphicon glyphicon-user"></span> Registrar</a></li>
							<li><a href="../pages/login.html"><span
									class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
							<li><a href="../pages/index.html"><span
									class="glyphicon glyphicon-log-out"></span> Salir</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container">
			<div class="row content">
				<div class="col-sm-3">
					<div class="container">
						<br> <input type="text" id="fincaId" name="fincaId"
							data-ng-model="id" required></input> <br> <br> <input
							type="button" class="btn btn-primary" id="fincaSearch"
							name="fincaSearch" value="Buscar" data-ng-click="fincaSearch(id)"></input>
						<a href="#alerta_borrar1" class="btn btn-danger"
							data-toggle="modal">Eliminar</a>
						<div class="modal fade" id="alerta_borrar1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">&times;</button>
										<h4 class="modal-title">PRECAUCION</h4>
									</div>
									<div class="modal-body">
										<p>Cuidado estas a punto de borrar un registro de una
											finca en la base de datos.¿seguro deseas continuar?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary"
											data-dismiss="modal">CERRAR</button>
										<input type="button" class="btn btn-danger" id="deleteFinca"
											name="deleteFinca" value="BORRAR"
											data-ng-click="deleteFinca(id)"></input>
									</div>
								</div>
							</div>
						</div>
						<br /> <br />

						<div data-ng-show="mostrarDatosFinca" id="fincaList">
							<p>Nombre: {{fincaOut.nombre}}</p>
							<p>Ubicación: {{fincaOut.ubicacion}}</p>
							<p>Teléfono : {{fincaOut.telefono1}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<br>
					<div>
						<input type="button" class="btn btn-primary" id="showForm"
							name="fincaList" data-ng-hide="showForm"
							data-ng-click="showForm = true" value="CREAR" />
						<div class="form-group" data-ng-show="showForm">
							<table id="datosBasicos">
								<tr>
									<td>Identificación</td>
									<td><input type="text" class="form-control" id="id"
										name="id" data-ng-model="fincaIn.id"
										placeholder="Identificador interno" min="0" disabled /></td>
								</tr>
								<tr>
									<td>Nombre</td>
									<td><input type="text" class="form-control" id="nombre"
										name="nombre" data-ng-model="fincaIn.nombre"
										placeholder="Nombre" /></td>
								</tr>
								<tr>
									<td>Ubicación</td>
									<td><input type="text" class="form-control" id="ubicacion"
										name="ubicacion" data-ng-model="fincaIn.ubicacion"
										placeholder="Ubicacion" /></td>
								</tr>
								<tr>
									<td>Teléfono</td>
									<td><input type="tel" class="form-control" id="telefono1"
										name="telefono1" data-ng-model="fincaIn.telefono1"
										placeholder="Telefono 1" /></td>
								</tr>
							</table>
							<br /> <input type="button" class="btn btn-primary" id="guardar"
								name="saveBtn" value="Guardar"
								data-ng-click="saveFinca(fincaIn)" />
						</div>
					</div>
					<br> <input type="button" class="btn btn-primary"
						id="fincaList" name="fincaList" value="Listado de Fincas"
						data-ng-click="getListFinca()"></input> <input type="text"
						data-ng-model="search"> <br>
					<div data-ng-show="fincaList.length != 0">
						<br />
						<table class="table" id="datosBasicos">
							<thead>
								<tr>
									<th>Nombre finca</th>
									<th>Ubicación</th>
									<th>Teléfono</th>
									<th>Editar/Eliminar</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="4">&nbsp;</td>
								</tr>
								<tr data-ng-repeat="item in fincaList | orderBy:'+nombre' | filter:search">
									<td>{{item.nombre}}</td>
									<td>{{item.ubicacion}}</td>
									<td>{{item.telefono1}}</td>
									<td><a href="#edit_modal"
										data-ng-click="updateFinca(item)" modal><i
											class="glyphicon glyphicon-edit">&nbsp;</i></a> <a
										href="#alerta_borrar1" data-ng-click="editar(item.id)" modal><i
											class="glyphicon glyphicon-remove"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
