<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>INGRESO</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/ext/jquery.js"></script>
<script src="../js/ext/bootstrap.min.js"></script>
<script src="../js/ext/angular.min.js" type="text/javascript"></script>
<script src="../js/app.js" type="text/javascript"></script>
<script src="../js/controller/IngresoController.js"
	type="text/javascript"></script>
<script src="../js/service/IngresoService.js" type="text/javascript"></script>
<link href="../css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container" data-ng-app="app"
		data-ng-controller="ingresoController">
		<br>
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar-menu">
							<span class="sr-only">Menu</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand">Inicio</a>
					</div>
					<div class="collapse navbar-collapse " id="navbar-menu">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"> Maestros <span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/finca.html">Fincas</a></li>
									<li><a href="../pages/bloque.html">Bloques</a></li>
									<li><a href="../pages/cama.html">Camas</a></li>
									<li><a href="../pages/color.html">Colores</a></li>
									<li><a href="../pages/tipo.html">Tipos de Flor</a></li>
									<li><a href="../pages/producto.html">Productos</a></li>
									<li><a href="../pages/breeder.html">Breeders</a></li>
									<li><a href="../pages/planta.html">Esquejes</a></li>
									<li><a href="../pages/codigorf.html">Código RedFlor</a></li>
									<li><a href="../pages/empleado.html">Empleado</a></li>
									<li><a href="../pages/auditoria.html">Auditorías</a></li>
									<li><a href="../pages/temperatura.html">Temperatura en
											bloque</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"> Movimientos <span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/siembra.html">Siembra</a></li>
									<li><a href="../pages/ingreso.html">Ingresos</a></li>
									<li><a href="../index.html">Salida</a></li>
								</ul></li>
							<li class="dropdown"><a href="../pages/ciclo.html">Inventariado</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="../pages/registro.html"><span
									class="glyphicon glyphicon-user"></span> Registrar</a></li>
							<li><a href="../pages/login.html"><span
									class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
							<li><a href="../pages/index.html"><span
									class="glyphicon glyphicon-log-out"></span> Salir</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container">
			<div class="row content">
				<div class="col-sm-3">
					<div class="container">
						<br> <input type="text" id="ingresoId" name="ingresoId"
							data-ng-model="id" required></input> <br> <br> <input
							type="button" class="btn btn-primary" id="ingresoSearch"
							name="ingresoSearch" value="Buscar"
							data-ng-click="ingresoSearch(id)"></input> <a
							href="#alerta_borrar1" class="btn btn-danger" data-toggle="modal">Eliminar</a>
						<div class="modal fade" id="alerta_borrar1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">&times;</button>
										<h4 class="modal-title">PRECAUCION</h4>
									</div>
									<div class="modal-body">
										<p>Cuidado estas a punto de borrar un ingreso en la base
											de datos.¿seguro deseas continuar?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary"
											data-dismiss="modal">CERRAR</button>
										<input type="button" class="btn btn-danger" id="deleteIngreso"
											name="deleteIngreso" value="BORRAR"
											data-ng-click="deleteIngreso(id)"></input>
									</div>
								</div>
							</div>
						</div>
						<br /> <br>
						<div data-ng-show="mostrarDatosIngreso" id="ingresoList">
							<p>Variedad: {{ingresoOut.nombre}}</p>
							<p>Puesto: {{ingresoOut.puesto}}</p>
							<p>Nivel: {{ingresoOut.nivel}}</p>
							<p>Lado: {{ingresoOut.lado}}</p>
							<p>Cantidad: {{ingresoOut.cantidad}}</p>
							<p>Fecha in: {{ingresoOut.fecha}}</p>
							<p>Empleado: {{ingresoOut.empleado}}</p>
							<p>Siembra: {{ingresoOut.siembra}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<br>
					<div>
						<input type="button" class="btn btn-primary" id="showForm"
							name="temperaturaList" data-ng-hide="showForm"
							data-ng-click="showForm = true" value="CREAR" />
						<div class="form-group" data-ng-show="showForm">
							<table id="datosBasicos">
								<tr>
									<td>Bloque</td>
									<td><input type="text" class="form-control" id="bloque"
										name="bloque" data-ng-model="ingresoIn.bloque"
										placeholder="Bloque" /></td>
								</tr>
								<tr>
									<td>Cama</td>
									<td><input type="text" class="form-control" id="cama"
										name="cama" data-ng-model="ingresoIn.cama" placeholder="Cama" /></td>
								</tr>
								<tr>
									<td>Variedad</td>
									<td><input type="text" class="form-control" id="variedad"
										name="variedad" data-ng-model="ingresoIn.variedad"
										placeholder="Nombre de la variedad" /></td>
								</tr>
								<tr>
									<td>Puesto</td>
									<td><input type="number" class="form-control" id="puesto"
										name="puesto" data-ng-model="ingresoIn.puesto"
										placeholder="Puesto" min="0" max="999"/></td>
									<td>Nivel</td>
									<td><input type="number" class="form-control" id="nivel"
										name="nivel" data-ng-model="ingresoIn.nivel"
										placeholder="Nivel" min="0" max="50"/></td>
									<td>Lado</td>
									<td><select class="form-control" id="lado" name="lado"
										data-ng-model="ingresoIn.lado">
											<option>A</option>
											<option>B</option>
									</select></td>
								</tr>
								<tr>
									<td>Cantidad</td>
									<td><input type="number" class="form-control"
										id="cantidad" name="cantidad" data-ng-model="cantidad"
										placeholder="Cantidad" min="0" /></td>
								</tr>
								<tr>
									<td>Fecha</td>
									<td><input type="datetime" class="form-control" id="fecha"
										name="fecha" data-ng-model="ingresoIn.fecha"
										data-ng-value="date | date:'yyyy/MM/dd HH:mm:ss'" /></td>
								</tr>
								<tr>
									<td>Empleado</td>
									<td><input type="number" class="form-control"
										id="empleado" name="empleado"
										data-ng-model="ingresoIn.empleado"
										placeholder="Codigo Empleado" min="0" /></td>
								</tr>
								<tr>
									<td>código Siembra</td>
									<td><input type="number" class="form-control" id="siembra"
										name="siembra" data-ng-model="ingresoIn.siembra"
										placeholder="codigo barras" min="0" /></td>
								</tr>
							</table>

							<br /> <input type="button" class="btn btn-primary" id="guardar"
								name="saveBtn" value="Guardar"
								data-ng-click="saveIngreso(ingresoIn)" />
						</div>
					</div>
					<br> <input type="button" class="btn btn-primary"
						id="ingresoList" name="ingresoList" value="Lista de Ingresos"
						data-ng-click="getListIngreso()"></input> <input type="text"
						data-ng-model="search"> <br>
					<div data-ng-show="ingresoList.length != 0">
						<br />
						<table class="table" id="datosBasicos">
							<thead>
								<tr>
									<th>Variedad</th>
									<th>Puesto</th>
									<th>Nivel</th>
									<th>Lado</th>
									<th>Cantidad</th>
									<th>Fecha ingreso</th>
									<th>Empleado</th>
									<th>Siembra</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="item in ingresoList | filter:search">
									<td>{{item.variedad}}</td>
									<td>{{item.puesto}}</td>
									<td>{{item.nivel}}</td>
									<td>{{item.lado}}</td>
									<td>{{item.cantidad}}</td>
									<td>{{item.fecha}}</td>
									<td>{{item.empleado}}</td>
									<td>{{item.siembra}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
