<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Buscar</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/ext/jquery.js"></script>
<script src="../js/ext/bootstrap.min.js"></script>
<script src="../js/ext/angular.min.js" type="text/javascript"></script>
<script src="../js/app.js" type="text/javascript"></script>
<script src="../js/controller/InventarioController.js" type="text/javascript"></script>
<script src="../js/service/InventarioService.js" type="text/javascript"></script>
<link href ="../css/base.css" rel = "stylesheet" type="text/css" >
</head>
<body>
	<div class="container"data-ng-app="app" data-ng-controller="inventarioController">
		<br>
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid" >
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
							<span class="sr-only">Menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand">Inicio</a>
					</div>
					<div class="collapse navbar-collapse" id="navbar-menu">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
									Plantas <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/planta_buscar.html">Buscar planta</a></li>
									<li><a href="../pages/planta_listar.html">Lista de Plantas</a></li>
									<li><a href="../pages/planta_crear.html">Agregar Planta</a></li>
									<li><a href="../pages/planta_actualizar.html">Modificar Planta</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" data-toggle="dropdown"role="button">
									Cuarto Frio <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/inven_buscar.html">Buscar Ingreso</a></li>
									<li><a href="../pages/inven_listar.html">Lista de Inventario</a></li>
									<li><a href="../pages/inven_crear.html">Registrar Ingreso</a></li>
									<li><a href="../pages/inven_actualizar.html">Modificar un registro</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" role="button">
									Mas<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/inven_perdida.html">Desperdicio</a></li>
									<li><a href="../pages/inven_pedido.html">Pedido</a></li>
									<li></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<br>
		<div class="container" >
			<input type="text" id="inventarioId" name="inventarioId" ng-model="inv_id" required></input>
			<input type="button" class="btn btn-primary" id="inventarioSearch" name="inventarioSearch" value="Buscar" ng-click="inventarioSearch(inv_id)"></input>
			<a href="#alerta_borrar" class="btn btn-danger" data-toggle="modal">Eliminar</a>
			<div class="modal fade" id="alerta_borrar">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">PRECAUCION</h4>
						</div>
						<div class="modal-body">
							<p1>Cuidado,estas a punto de borrar un registro en el inventario.      ¿seguro deseas continuar?</p1>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal" >CERRAR</button>
							<input type="button" class="btn btn-danger" id="deleteInventario" name="deleteInventario" value="BORRAR" ng-click="deleteInventario(inv_id)">
						</div>
					</div>
				</div>
			</div>
			<br/>
			<br/>
				<div ng-show="mostrarDatosInventario" id="inventarioList">
					<p>Identificacion: {{inventarioOut.inv_id}}</p>
					<p>Origen: {{inventarioOut.inv_origen}}</p>
					<p>Cantidad: {{inventarioOut.inv_cantidad}}</p>
					<p>Fecha de ingreso: {{inventarioOut.inv_fecha}}</p>
					<p>observacion: {{inventarioOut.inv_observacion}} </p>
					<p>Identificacion de planta: {{inventarioOut.pla_id}}</p>
				</div>
		</div>
	</div>
</body>
</html>
