<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Inventario Listar</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/ext/jquery.js"></script>
<script src="../js/ext/bootstrap.min.js"></script>
<script src="../js/ext/angular.min.js" type="text/javascript"></script>
<script src="../js/app.js" type="text/javascript"></script>
<script src="../js/controller/InventarioController.js" type="text/javascript"></script>
<script src="../js/service/InventarioService.js" type="text/javascript"></script>
<link href ="../css/base.css" rel = "stylesheet" type="text/css" >
</head>
<body>
	<div class="container" data-ng-app="app" data-ng-controller="inventarioController">
		<br>
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid" >
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
							<span class="sr-only">Menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand">Inicio</a>
					</div>
					<div class="collapse navbar-collapse" id="navbar-menu">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
									Plantas <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/planta_buscar.html">Buscar planta</a></li>
									<li><a href="../pages/planta_listar.html">Lista de Plantas</a></li>
									<li><a href="../pages/planta_crear.html">Agregar Planta</a></li>
									<li><a href="../pages/planta_actualizar.html">Modificar Planta</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"role="button">
									Cuarto Frio <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/inven_buscar.html">Buscar Ingreso</a></li>
									<li><a href="../pages/inven_listar.html">Lista de Inventario</a></li>
									<li><a href="../pages/inven_crear.html">Registrar Ingreso</a></li>
									<li><a href="../pages/inven_actualizar.html">Modificar un registro</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
									Mas<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/inven_perdida.html">Desperdicio</a></li>
									<li><a href="../pages/inven_pedido.html">Pedido</a></li>
									<li></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container">
			<br><input type="button" class="btn btn-primary" id="perdidaList" name="perdidaList" value="LISTAR"  ng-click="getPerdidaList()"></input>
				<br>
				<div ng-show="perdidaList.length != 0">
				<br>
					<table class="table" id="datosBasicos">
						<thead>
							<tr>
								<th>Identificación  </th>
								<th>Origen  </th>
								<th>Cantidad  </th>
								<th>Fecha de Ingreso  </th>
								<th>Observacion  </th>
								<th>Identificador de la planta  </th>
							</tr>
			 			</thead>
			 			<tbody>
							<tr ng-repeat="item in perdidaList ">
								<td>{{item.inv_id}}</td>
								<td>{{item.inv_origen}}</td>
								<td>{{item.inv_cantidad}}</td>
								<td>{{item.inv_fecha}}</td>
								<td>{{item.inv_observacion}}</td>
								<td>{{item.pla_id}}</td>
							</tr>
			 			</tbody>
					</table>
				</div>
		</div>
	</div>
</body>
</html>
