<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PROCESO</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/ext/jquery.js"></script>
<script src="../js/ext/bootstrap.min.js"></script>
<script src="../js/ext/angular.min.js" type="text/javascript"></script>
<script src="../js/app.js" type="text/javascript"></script>
<script src="../js/controller/ProcesoController.js"
	type="text/javascript"></script>
<script src="../js/service/ProcesoService.js" type="text/javascript"></script>
<link href="../css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container" data-ng-app="app"
		data-ng-controller="procesoController">
		<br>
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar-menu">
							<span class="sr-only">Menu</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand">Inicio</a>
					</div>
					<div class="collapse navbar-collapse " id="navbar-menu">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"> Maestros <span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/finca.html">Fincas</a></li>
									<li><a href="../pages/bloque.html">Bloques</a></li>
									<li><a href="../pages/cama.html">Camas</a></li>
									<li><a href="../pages/color.html">Colores</a></li>
									<li><a href="../pages/tipo.html">Tipos de Flor</a></li>
									<li><a href="../pages/producto.html">Productos</a></li>
									<li><a href="../pages/breeder.html">Breeders</a></li>
									<li><a href="../pages/planta.html">Esquejes</a></li>
									<li><a href="../pages/codigorf.html">Codigo RedFlor</a></li>
									<li><a href="../pages/empleado.html">Empleado</a></li>
									<li><a href="../pages/auditoria.html">Auditorias</a></li>
									<li><a href="../pages/temperatura.html">Temperatura en
											bloque</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"> Movimientos <span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/siembra.html">Siembra</a></li>
									<li><a href="../pages/cosecha.html">Cosecha</a></li>
									<li><a href="../pages/ingreso.html">CuartoFrio</a></li>
									<li><a href="../index.html">Enraizamiento</a></li>
								</ul></li>
							<li class="dropdown"><a href="../pages/ciclo.html">Inventariado</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="../pages/registro.html"><span
									class="glyphicon glyphicon-user"></span> Registrar</a></li>
							<li><a href="../pages/login.html"><span
									class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
							<li><a href="../pages/index.html"><span
									class="glyphicon glyphicon-log-out"></span> Salir</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container">
			<div class="row content">
				<div class="col-sm-3">
					<div class="container">
						<br> <input type="text" id="procesoId" name="procesoId"
							ng-model="id" required></input> <br> <br> <input
							type="button" class="btn btn-primary" id="procesoSearch"
							name="procesoSearch" value="Buscar" ng-click="procesoSearch(id)"></input>
						<a href="#alerta_borrar1" class="btn btn-danger"
							data-toggle="modal">Eliminar</a>
						<div class="modal fade" id="alerta_borrar1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">&times;</button>
										<h4 class="modal-title">PRECAUCION</h4>
									</div>
									<div class="modal-body">
										<p1>Cuidado estas a punto de borrar un proceso de una
										planta en la base de datos.¿seguro deseas continuar?</p1>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary"
											data-dismiss="modal">CERRAR</button>
										<input type="button" class="btn btn-danger" id="deleteProceso"
											name="deleteProceso" value="BORRAR"
											ng-click="deleteProceso(id)"></input>
									</div>
								</div>
							</div>
						</div>
						<br /> <br>
						<div ng-show="mostrarDatosProceso" id="procesoList">
							<p>Identificacion: {{procesoOut.id}}</p>
							<p>Nombre del Proceso: {{procesoOut.nombre}}</p>
							<p>Parsona Encargada: {{procesoOut.persona}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<br> <input type="button" class="btn btn-primary"
						id="procesoList" name="procesoList" value="Lista de Procesos"
						ng-click="getListProceso()"></input><br /> <br>
					<div ng-show="procesoList.length != 0">
						<br />
						<table class="table" id="datosBasicos">
							<thead>
								<tr>
									<th>Identificación</th>
									<th>Nombre del Proceso</th>
									<th>Persona Encargada</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in procesoList | orderBy:'id'">
									<td>{{item.id}}</td>
									<td>{{item.nombre}}</td>
									<td>{{item.persona}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-3">
					<table id="datosBasicos">
						<br />
						<br />
						<div class="form-group">
							<br />
							<tr>
								<td>Identificacion</td>
								<td><input type="number" class="form-control" id="id"
									name="id" ng-model="procesoIn.id"
									placeholder="Identificacion(Barcode)" min="0" /></td>
							</tr>
							<tr>
								<td>Nombre del proceso</td>
								<td><input type="text" class="form-control" id="nombre"
									name="nombre" ng-model="procesoIn.nombre" placeholder="Nombre" />
								</td>
							</tr>
							<tr>
								<td>Persona encargado</td>
								<td><input type="text" class="form-control" id="persona"
									name="persona" ng-model="procesoIn.persona"
									placeholder="Identificador Personal" min="0" /></td>
							</tr>
						</div>
					</table>
					<br /> <input type="button" class="btn btn-primary" id="guardar"
						name="saveBtn" value="Guardar" ng-click="saveProceso(procesoIn)" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>
