<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SIEMBRA</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/ext/jquery.js"></script>
<script src="../js/ext/bootstrap.min.js"></script>
<script src="../js/ext/angular.min.js" type="text/javascript"></script>
<script src="../js/app.js" type="text/javascript"></script>
<script src="../js/controller/SiembraController.js"
	type="text/javascript"></script>
<script src="../js/service/SiembraService.js" type="text/javascript"></script>
<link href="../css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container" data-ng-app="app"
		data-ng-controller="siembraController">
		<br>
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar-menu">
							<span class="sr-only">Menu</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand">Inicio</a>
					</div>
					<div class="collapse navbar-collapse " id="navbar-menu">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"> Maestros <span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/finca.html">Fincas</a></li>
									<li><a href="../pages/bloque.html">Bloques</a></li>
									<li><a href="../pages/cama.html">Camas</a></li>
									<li><a href="../pages/color.html">Colores</a></li>
									<li><a href="../pages/tipo.html">Tipos de Flor</a></li>
									<li><a href="../pages/producto.html">Productos</a></li>
									<li><a href="../pages/breeder.html">Breeders</a></li>
									<li><a href="../pages/planta.html">Esquejes</a></li>
									<li><a href="../pages/codigorf.html">Código RedFlor</a></li>
									<li><a href="../pages/empleado.html">Empleado</a></li>
									<li><a href="../pages/auditoria.html">Auditorías</a></li>
									<li><a href="../pages/temperatura.html">Temperatura en
											bloque</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button"> Movimientos <span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu">
									<li><a href="../pages/siembra.html">Siembra</a></li>
									<li><a href="../pages/cosecha.html">Cosecha</a></li>
									<li><a href="../pages/ingreso.html">CuartoFrio</a></li>
									<li><a href="../index.html">Enraizamiento</a></li>
								</ul></li>
							<li class="dropdown"><a href="../pages/ciclo.html">Inventariado</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="../pages/registro.html"><span
									class="glyphicon glyphicon-user"></span> Registrar</a></li>
							<li><a href="../pages/login.html"><span
									class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
							<li><a href="../pages/index.html"><span
									class="glyphicon glyphicon-log-out"></span> Salir</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container">
			<div class="row content">
				<div class="col-sm-3">
					<div class="container">
						<br> <input type="text" id="siembraId" name="siembraId"
							data-ng-model="id" required></input> <br> <br> <input
							type="button" class="btn btn-primary" id="siembraSearch"
							name="siembraSearch" value="Buscar"
							data-ng-click="siembraSearch(id)"></input> <a
							href="#alerta_borrar1" class="btn btn-danger" data-toggle="modal">Eliminar</a>
						<div class="modal fade" id="alerta_borrar1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">&times;</button>
										<h4 class="modal-title">PRECAUCION</h4>
									</div>
									<div class="modal-body">
										<p>Cuidado estas a punto de borrar un registro de una
										siembra en la base de datos.¿seguro deseas continuar?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary"
											data-dismiss="modal">CERRAR</button>
										<input type="button" class="btn btn-danger" id="deleteSiembra"
											name="deleteSiembra" value="BORRAR"
											data-ng-click="deleteSiembra(id)"></input>
									</div>
								</div>
							</div>
						</div>
						<br /> <br>
						<div data-ng-show="mostrarDatosSiembra" id="siembraList">
							<p>Variedad: {{siembraOut.variedad}}</p>
							<p>Cama: {{siembraOut.cama}}</p>
							<p>Empleado: {{siembraOut.empleado}}</p>
							<p>Cantidad: {{siembraOut.cantidad}}</p>
							<p>Esterilización: {{siembraOut.esterilizacion}}</p>
							<p>Fecha: {{siembraOut.fecha}}</p>
							<p>Observación: {{siembraOut.observacion}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<div>
						<input type="button" class="btn btn-primary" id="showForm"
							name="temperaturaList" data-ng-hide="showForm"
							data-ng-click="showForm = true" value="CREAR" />
						<div class="form-group" data-ng-show="showForm">
							<table id="datosBasicos">
								<tr>
									<td>Identificador</td>
									<td><input type="number" class="form-control" id="id"
										name="id" data-ng-model="siembraIn.id"
										placeholder="Identificador interno" min="0" disabled /></td>
								</tr>
								<tr>
									<td>Variedad</td>
									<td><input type="text" class="form-control" id="variedad"
										name="variedad" data-ng-model="siembraIn.variedad"
										placeholder="Nombre de la variedad" /></td>
								</tr>
								<tr>
									<td>Cama</td>
									<td><input type="number" class="form-control" id="cama"
										name="cama" data-ng-model="siembraIn.cama"
										placeholder="Codigo Cama" /></td>
								</tr>
								<tr>
									<td>Empleado</td>
									<td><input type="number" class="form-control"
										id="empleado" name="empleado"
										data-ng-model="siembraIn.empleado"
										placeholder="Codigo empleado" min="0" /></td>
								</tr>
								<tr>
									<td>Cantidad</td>
									<td><input type="number" class="form-control"
										id="cantidad" name="cantidad"
										data-ng-model="siembraIn.cantidad"
										placeholder="cantidad sembrada" min="0" /></td>
								</tr>
								<tr>
									<td>Esterilización</td>
									<td><input type="checkbox" class="form-check-input"
										id="esterilizacion" data-ng-model="siembraIn.esterilizacion">
									</td>
								</tr>
								<tr>
									<td>Fecha de siembra</td>
									<td><input type="datetime" class="form-control" id="fecha"
										name="fecha" data-ng-model="siembraIn.fecha"
										data-ng-value="date | date:'yyyy/MM/dd HH:mm:ss'" /></td>
								</tr>
								<tr>
									<td>Observación</td>
									<td><textarea class="form-control" rows="3"
											id="observacion" name="observacion"
											data-ng-model="siembraIn.fecha"
											placeholder="observaciones de la siembra..."></textarea></td>
								</tr>
							</table>
						</div>
						<br /> <input type="button" class="btn btn-primary" id="guardar"
							name="saveBtn" value="Guardar"
							data-ng-click="saveSiembra(siembraIn)" />
					</div>
					<br> <br> <input type="button" class="btn btn-primary"
						id="siembraList" name="siembraList" value="Lista de Variedades"
						data-ng-click="getListSiembra()"></input> <input type="text"
						data-ng-model="search"> <br>
					<div data-ng-show="siembraList.length != 0">
						<br />
						<table class="table" id="datosBasicos">
							<thead>
								<tr>
									<th>Variedad</th>
									<th>Cama</th>
									<th>Empleado</th>
									<th>Cantidad</th>
									<th>Esterilización</th>
									<th>Fecha siembra</th>
									<th>Observación</th>									
									<th>Acción</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="8">&nbsp;</td>
								</tr>
								<tr data-ng-repeat="item in siembraList | filter:search">
									<td>{{item.variedad}}</td>
									<td>{{item.cama}}</td>
									<td>{{item.empleado}}</td>
									<td>{{item.cantidad}}</td>
									<td>{{item.esterilizacion}}</td>
									<td>{{item.fecha}}</td>
									<td>{{item.observacion}}</td>
									<td><a href="#edit_modal" data-ng-click="updateSiembra(item)"
										modal><i class="glyphicon glyphicon-edit">edit</i></a> <a
										href="#edit_modal" data-ng-click="editar(item)" modal><i
											class="glyphicon glyphicon-remove">delete</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
